@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'XXII-Ultimate-Black-Metal';
  src: url('../app/fonts/XXII\ Ultimate-Black-Metal.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 3%);
  color: white;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}